.box {
    margin: 50px;/*外側の余白*/
    border: 5px solid pink;
    /*padding: 300px;内側の余白,上、右、下、左の順*/
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.box-inner{
    margin:20px;
    
}